*{
    scroll-behavior: smooth;
}
.welcoming{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-boxes{
    flex: 0 0 calc(50% - 1rem);
    width: calc(50% - 1rem);
    width: 16rem;
    height: 16rem;
    border: .1px  black;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    text-align: center;
    padding: 1%;
    margin-left: 1%;
    transition-duration: .2s;
    margin-bottom: 1%;
    border-radius: 1rem;
    background-color: #ffffff;
}
.menu-boxes:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition-duration: .3s;
    scale: 1.02;
}

.menu-boxes p{
    color: #000;
    text-decoration: none;
}
.menu-boxes img{
    max-width: 70%;
      max-height: 70%;
      min-width: 30%;
        min-height: none;
}
.container a{
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}
